[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch-model-archiver = "*"
torch = "*"
transformers = "*"
requests = "*"
pillow = "*"
torchserve = "*"
torchvision = "*"
timm = "*"
captum = "*"
py-dirk = "*"

[dev-packages]

[requires]
python_version = "3.11"
